
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    font-size: 30px;
    margin: 15px 15px 15px 15px;
}
body{

}
.container{
    margin: 25px;
}

td{
    padding: 25px;
}

form{
    padding: 25px;
}