
.grid-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-item{
    padding: 5px;
    font-size: 20px;

}

.header {
    display: inline-block;
    width: 100%;
    border: 1px solid #0a0a0a;
    height: 25px;
    clear: both;
}
.prev {
    float: left;
}
.next {
    float: right;
}

.post-item{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 25px;
    font-size: 30px;
    margin: 15px 15px 15px 15px;
}

.center {
    margin: auto;
    width: 60%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
}

body{

}
.container{
    margin: 25px;
}

td{
    padding: 10px;
}

form{
    padding: 25px;
}