<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link  th:href="@{/homestyles.css}" rel="stylesheet"/>
</head>
<body>
<div class="post-item">
    <h1>My Blog Application</h1>
    <div th:object="${post}">
        <div class="post-item">
            <div th:text="${post.title}"></div>
            <br>
            <span th:text="${post.author}"></span>&nbsp;
            <span th:text="${post.publishDate}"></span><br>
            <div th:text="${post.content}"></div><br>

            <span th:each="postTag : ${post.tags}">
                <span th:text="${postTag.tagName}"></span> &nbsp;
            </span>
        </div>
    </div>
</div>
</body>
</html>