<!DOCTYPE html>
<html lang="en"   xmlns:th="http://wwww.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>New Blog</title>
    <link href="../static/homestyles.css" th:href="@{/homestyles.css}" rel="stylesheet"/>
</head>
<body>
    <div class="center" >
      <h1>Create New Blog</h1>
      <div>
         <form th:action="@{/newpost}" th:object="${newPost}" method="post">
            <input type="text"
                   name="title"
                   th:field="*{title}"
                   placeholder="Enter Blog Title"
            ><br>
             <div sec:authorize="isAnonymous()" >
                 <input type="text"
                        name="author"
                        th:field="*{author}"
                        placeholder="Enter Your name"
                 ><br>
             </div>
             <table>
                 <thead>
                 <tr>
                     <th text="Tag Name">Tag Name</th>
                     <th>
                         <button type="submit" name="addTag" >Add Tag</button>
                     </th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr th:each="tag ,tagStat : *{tags}">
                     <td>
                         <input type="text" th:field="*{tags[__${tagStat.index}__].tagName}"  />
                     </td>
                     <td>
                         <button type="submit" name="removeTag"  th:value="${tagStat.index}">Remove Tag</button>
                     </td>
                 </tr>
                 </tbody>
             </table>
             <br>
             <textarea
                    name="content"
                    th:field="*{content}"
                       rows="20"
                       cols="80"
                    placeholder="Write here"
             ></textarea><br>
             <button type="submit" name="save">Submit</button>
         </form>
      </div>
    </div>
</body>
</html>