<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link href="../static/homestyles.css" th:href="@{/homestyles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div>
        <h1>My Blog Application</h1>
    </div>

    <div>
        <a th:href="@{/newpost}">Write New Post</a>
    </div>
    <div>
        <div th:switch="${keyword ==  null}">
            <p th:case="${true}">
                <a th:href="@{'/page/' + ${currPage} + '?sortField=publishDate&sortDir=' + ${reverseSortDir}+'&keyword=' +''}">Sort
                    By Date</a>
            </p>
            <p th:case="*">
                <a th:href="@{'/page/' + ${currPage} + '?sortField=publishDate&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">Sort
                    By Date</a>
            </p>
        </div>

        <div>
            <a th:href="@{/filter}">Filter</a>
        </div>
       <!-- <div>
           <form th:action="@{/filter}">
               <h3>Filter By Author</h3>
               <div th:each="author:${authors}">
                   <input type="checkbox" th:text="${author}"  th:name="authChecked" />
               </div>
           </form>
        </div>-->

    </div>

    <div>
        <form th:action="@{'/page/1'}">
            <input type="text" name="keyword" placeholder="Search blog "/>
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div class="grid-container">
    <div th:each="post:${posts}">
        <div class="grid-item">
            <div th:text="${post.title}"></div>
            <br>
            <span th:text="${post.author}"></span>&nbsp;
            <span th:text="${post.publishDate}"></span><br>
            <a th:href="@{'/post'+${post.postId}}">
                <div th:text="${post.excerpt}"></div>
            </a>
            <br>

            <div th:each="postTag : ${postTags}">
                <div th:if="${post.postId}==${postTag.id.postId}">
                    <div th:each="tag:${tags}">
                        <div th:if="${postTag.id.tagId}==${tag.tagId}">
                            <div th:text="${tag.tagName}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:if="${totalPages>1}">
    <div th:switch="${keyword ==  null}">
        <p th:case="${true}">
            <a th:if="${currPage>1}"
               th:href="@{'/page/' + ${currPage-1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +''}">Prev</a><br>
            <a th:if="${currPage < totalPages}"
               th:href="@{'/page/' + ${currPage+1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +''}">Next</a>
        </p>
        <p th:case="*">
            <a th:if="${currPage>1}"
               th:href="@{'/page/' + ${currPage-1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +${keyword}}">Prev</a><br>
            <a th:if="${currPage < totalPages}"
               th:href="@{'/page/' + ${currPage+1} + '?sortField=publishDate&sortDir=' + ${sortDir}+ '&keyword='+ ${keyword}}">Next</a>
        </p>
    </div>

</div>
</body>
</html>