<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link href="../static/homestyles.css" th:href="@{/homestyles.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="grid-item">
        <h1>My Blog Application</h1>
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">User</span></b>
            &nbsp;
            <span sec:authentication="principal.authorities"></span>
        </div>
    </div>

    <div sec:authorize="isAnonymous()" class="grid-item">
        <a th:href="@{/login}">Log In</a>
    </div>
    <span sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></span>
    <div class="grid-item">
        <a th:href="@{/newpost}">Write New Post</a>
    </div>
    <div class="grid-item">
        <div th:switch="${keyword ==  null}">
            <p th:case="${true}">
                <a th:href="@{'/page/' + ${currPage} + '?sortField=publishDate&sortDir=' + ${reverseSortDir}+'&keyword=' +''}">Sort
                    By Date</a>
            </p>
            <p th:case="*">
                <a th:href="@{'/page/'+ ${currPage} + '?sortField=publishDate&sortDir=' + ${reverseSortDir}+'&keyword=' +${keyword}}">Sort
                    By Date</a>
            </p>
        </div>

        <div>
            <a th:href="@{/filter}">Filter</a>
        </div>
    </div>

    <div class="grid-item">
        <form th:action="@{/page/1}">
            <input type="text" name="keyword" placeholder="Search blog "/>
            <input type="hidden" name="sortField" th:value="${sortField}"/>
            <input type="hidden" name="sortDir" th:value="${sortDir}"/>
            <input type="submit" value="Search">
        </form>
    </div>
</div>
<div class="grid-container">
    <div th:each="post:${posts}">
        <div class="post-item">
            <div th:text="${post.title}"></div>
            <br>
            <span th:text="${post.author}"></span>&nbsp;
            <span th:text="${post.publishDate}"></span><br>
            <a th:href="@{'/post'+${post.postId}}">
                <div th:text="${post.excerpt}"></div>
            </a>
            <br>

            <span th:each="postTag : ${post.tags}">
                <span th:text="${postTag.tagName}"></span>&nbsp;
            </span>
            <span>
                <a th:href="@{/comment/{id}(id=${post.postId})}">Comments</a>
            </span>
            <span th:if=" ${#authorization.expression('hasAuthority(''ADMIN'')')}">
                <span>
                <a th:href="@{/updatePost/{id}(id=${post.postId})}">Update</a>
                </span>
                <span>
                <a th:href="@{/deletePost/{id}(id=${post.postId})}">Delete</a>
            </span>
            </span>
            <span th:if="  ${post.user != null} and ${user != null}">
                <span th:if="${post.user.userId==user.userId}">
                    <span>
                   <a th:href="@{/updatePost/{id}(id=${post.postId})}">Update</a>
                    </span>
                    <span>
                   <a th:href="@{/deletePost/{id}(id=${post.postId})}">Delete</a>
                  </span>
                </span>
            </span>

        </div>
    </div>
</div>

<div th:if="${totalPages>1}">
    <div th:switch="${keyword ==  null}">
        <p th:case="${true}">
            <a th:if="${currPage>1}"
               th:href="@{'/page/' + ${currPage-1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +''}">Prev</a><br>
            <a th:if="${currPage < totalPages}"
               th:href="@{'/page/' + ${currPage+1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +''}">Next</a>
        </p>
        <p th:case="*">
            <a th:if="${currPage>1}"
               th:href="@{'/page/' + ${currPage-1} + '?sortField=publishDate&sortDir=' + ${sortDir}+'&keyword=' +${keyword}}">Prev</a><br>
            <a th:if="${currPage < totalPages}"
               th:href="@{'/page/' + ${currPage+1} + '?sortField=publishDate&sortDir=' + ${sortDir}+ '&keyword='+ ${keyword}}">Next</a>
        </p>
    </div>

</div>
</body>
</html>